# Database Connection (Used by server)
MONGODB_URI=mongodb+srv://...

# Client-side configuration (Used by App.tsx)
VITE_API_URL=
VITE_APP_NAME=MiniTaskManager

# Security
JWT_SECRET=
NODE_ENV=development
