# Database Connection (Used by server)
MONGODB_URI=mongodb+srv://yuvakishore:yuvakishore%40123@cluster0.5dsl7lf.mongodb.net/mydb?retryWrites=true&w=majority

# Client-side configuration (Used by App.tsx)
VITE_API_URL=
VITE_APP_NAME=MiniTaskManager

# Security
JWT_SECRET=8fK#92kLmP!xQz@91sD
NODE_ENV=production